<div class="container mt-5">
    <h2>Tableau de Bord Agent</h2>
    <button class="btn btn-primary mb-3" routerLink="/create-client">Créer un client</button>
 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dupont</td>
                <td>Jean</td>
                <td>+212 600 000 000</td>
                <td>jean.dupont@example.com</td>
                <td>
                    <button class="btn btn-warning btn-sm">Modifier</button>
                    <button class="btn btn-danger btn-sm">Supprimer</button>
                </td>
            </tr>
            <tr>
                <td>Durand</td>
                <td>Claire</td>
                <td>+212 600 111 111</td>
                <td>claire.durand@example.com</td>
                <td>
                    <button class="btn btn-warning btn-sm">Modifier</button>
                    <button class="btn btn-danger btn-sm">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
 </div>
 