<aside class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-item">
      <i class="icon fa fa-th-large"></i>
      <a routerLink="/app-client/personal-info" class="sidebar-link">Mes Informations Personnelles</a>
    </li>
    <li class="sidebar-item">
      <i class="icon fa fa-user"></i>
      <a routerLink="/app-client/account" class="sidebar-link">Mon Compte</a>
    </li>
    <li class="sidebar-item">
      <i class="icon fa fa-credit-card"></i>
      <a routerLink="/app-client/generate-ecart" class="sidebar-link">Ma Carte Virtuelle</a>
    </li>
    <li class="sidebar-item">
      <i class="icon fa fa-exchange"></i>
      <a routerLink="/app-client/transfer" class="sidebar-link">Virement</a>
    </li>
    <li class="sidebar-item">
      <i class="icon fa-solid fa-wallet"></i>
      <a routerLink="/app-client/Creditors" class="sidebar-link">Paiement de Factures et Recharges</a>
    </li>
    <li class="sidebar-item">
      <i class="icon fa-solid fa-wallet"></i>
      <a routerLink="/app-client/logout" class="sidebar-link">Se déconnecter </a>
    </li>
  </ul>
</aside>
