/* Conteneur principal de la sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ecbd4e; /* Couleur sombre */
  color: white;
  padding: 20px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 100%;
}
/* Élément du menu avec séparation */
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 13px 1px;
  margin: 5PX;
  border-bottom: 1px solid #34495e; /* Ligne séparatrice */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item:last-child {
  border-bottom: none; /* Supprime la bordure du dernier élément */
}

.sidebar-item:hover {
  background-color: #8a6b23; /* Couleur de survol */
}

/* Icône dans l'élément */
.icon {
  font-size: 18px;
  margin-right: 15px;
}

/* Texte de l'élément */
.sidebar-item span {
  font-size: 16px;
  font-weight: 500;
}
/* Liens de la sidebar */
.sidebar-link {
  color: white; /* Texte en blanc */
  text-decoration: none; /* Supprime la ligne soulignée */
  font-size: 16px; /* Taille du texte */
  display: inline-block; /* Permet de gérer le lien comme un bloc pour le style */
  padding: 10px 15px; /* Ajoute un espacement intérieur pour améliorer la lisibilité */
}

/* Effet au survol */
.sidebar-link:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Pour éviter des lignes entre les items */
.sidebar-menu {
  list-style: none; /* Supprime les puces ou les numéros de la liste */
  margin: 0;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 10px; /* Ajoute un espace entre les items */
}

