<div class="background-container">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="terms-card shadow-lg p-4">
      <div class="text-center mb-4">
        <h2 class="text-gold fw-bold">Terms and Conditions</h2>
      </div>
      <ul class="terms-list">
        <li>Je comprends que des frais de gestion peuvent s'appliquer et que la carte a une limite maximale de transactions.</li>
        <li>Je reconnais que cette carte est uniquement destinée aux transactions en ligne et ne peut pas être utilisée pour les retraits en espèces.</li>
        <li>Je confirme que la carte est valide pour une durée de 12 mois et qu'elle devra être renouvelée après expiration.</li>
      </ul>
      <div class="form-check mt-3">
        <input type="checkbox" id="accept" class="form-check-input" />
        <label for="accept" class="form-check-label">I accept the terms and conditions.</label>
      </div>
      <div class="d-grid mt-4">
        <button  class="btn btn-gold fw-bold" (click)="goToOtpValidation()">Next</button>
      </div>
    </div>
  </div>
</div>
